# Common Python Data Types

## What is a data type?

- A data type is basically a category in which a value belongs to.

      > Meaning that data types can be divided into categories like Numeric,Sequence Type etc.
      > Knowing the data type helps one know the kind of operations that can be done on the value.

* Every value  that  is  held by a  variable has a data type.

In [1]:
name = 'Tony'
students = 10
height = 10.5

* To view the type you need to use the type() function.

In [2]:
#View Types
type(name)

str

- Although there are numerous data types, there are certain data types which are commonly used in Python.

- Common data types are categorized under primitive data types, and these include integers, strings, Booleans, and floating points.

- Other primitives include the Boolean and None Types.

## Numeric

* This is data that has numeric  value

### Integers

- An integer is a value that is a whole number (+/-).

In [3]:
#Integer
cars = 100
type(cars)

int

In [4]:
#Negative Value
temperature = -25
type(temperature)

int

In [5]:
#Negative Value
temperature = -25
type(temperature)

int

### Floats

- A Float (Floating point number) is a number that has a decimal

In [6]:
#Float
height = 100.5
type(height)

float

## Sequence Type

- In python, a sequence is the ordered collection of data types that are either similar or different.

  > An example of this includes strings, lists, and tuples.

### String

*  A string is a text value

In [7]:
#String
make = 'Toyota'
type(make)

str

In [8]:
#Empty String

color = ''
type(color)

str

In [9]:
#Number as a string
number_of_children = '11'
type(number_of_children )

str

## Boolean

- This data type has either True or False built in values.

       > N/B: T and F have to be capitalized.

In [10]:
y = True
type(y)

bool

In [11]:
x = False
type(x)

bool

## None-Type

* The data type has a single value None which points to the absence of a value.

In [12]:
#Empty Value
number_of_people = None

In [13]:
# Check None-Type
type(number_of_people)

NoneType

* You can specify a specific Data Type

In [14]:
#Specify String
count = str(11)
type(count)

str

In [15]:
#Specify Integer
height = int(10.5)
type(height)

int

In [16]:
# Operation on a string and an integer

Bus_one = '10'
Bus_two = 11

total = Bus_one + Bus_two

TypeError: can only concatenate str (not "int") to str

In [17]:
# Correct Operation on a string and an integer

Bus_one = int('10')
Bus_two = 11

total = Bus_one + Bus_two

In [18]:
total

21

In [19]:
#Assignment  Concatenate a str to a str

Bus_one = '10'
Bus_two = str(11)

total = Bus_one + Bus_two

# References & Further Reading



- [Automate the boring stuff by Al Sweigart](https://www.amazon.com/Automate-Boring-Stuff-Python-Programming/dp/1593275994)

- [Jovian.ai](https://jovian.ai/aakashns/python-variables-and-data-types)

- [GeeksforGeeks: Python Data Types](https://www.geeksforgeeks.org/python-data-types/)

- [Python Crash Course By Eric Matthes](https://www.amazon.com/Python-Crash-Course-2nd-Edition/dp/1593279280/ref=sr_1_1?crid=2ANKISKNQPNKH&keywords=Python+Crash+Course+By+Eric+Matthes&qid=1654606797&s=books&sprefix=%2Cstripbooks-intl-ship%2C1078&sr=1-1)